
select date,temp from temperature_date where zip > 300000 and zip < 399999;

select FROM_UNIXTIME(UNIX_TIMESTAMP(date,'dd-mm-yyyy'),'yyyy'),MAX(temp) from temperature_date group by FROM_UNIXTIME(UNIX_TIMESTAMP(date,'dd-mm-yyyy'),'yyyy');

select FROM_UNIXTIME(UNIX_TIMESTAMP(date,'dd-mm-yyyy'),'yyyy') as year, COUNT(FROM_UNIXTIME(UNIX_TIMESTAMP(date,'dd-mm-yyyy'),'yyyy')) as count, MAX(temp) from 
